
.EmblemaImg{
  max-height: 100px;
  max-width: 100px;
  float: left;
}

.TxtEmblema{
padding-top: 20px;
float: left;
}

.TextMinerale{
  text-decoration: none;
  color: #f7e984;
  font-weight: bold;
  font-size: 145%;
  letter-spacing: 2px

}

header{
  background-color: #070517eb;
  min-height: 70px;
}

.MenuOptions{
  margin:0;
  padding: 0;
  display: block;
}

.MenuOptions li{
  float: right;
  display: block;
  padding-right: 30px;
  padding-top: 22px;
  margin: 0;
  font-size: 125%;
  letter-spacing: 1.5px;

}

.MenuOptions a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: block;
}

.MenuOptions a:hover{
  font-size: 104%;
  color: #f7e984;
}

body{
  margin: 0;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Back{
  padding: 5px 30px 50px 30px;
  margin: 0 40px 40px 40px;
  background-color: #0b0c04db;

}

.TextMain {
  color: #fff;
  font-size: 110%;
  letter-spacing: 1.3px;
  float: left;
  margin-top: 0;
  text-indent: 40px;
  display: block;
}

.Image1{
  max-width: 300px;
  max-height: 400px;
  float:right;
  margin-left: 10px;
  margin-bottom: 10px;

}

.tabel th{
  color: #fff;
  font-weight:normal;
  padding: 5px;
  font-size: 130%
}

.Materiale{
  color: #fff;
  text-align: center;

}

table{
  border-width: thin;
  border-style: solid;
}

.Minereuri{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  align-items: start;
  justify-content: space-around;
  margin-top: 50px;

}

.Minereuri img{
  max-width: 400px;
  max-height: 400px;
}

h2{
  color: #fff;
  text-align: center;
  margin-top: 50px;
}

.denum{
  text-align: center;
  font-size: 150%
}

.box a{
  text-decoration: none;
  color: #fff;
}

.box img{
max-height: 225px;
}

.box a:hover{
  font-size: 105%;
  text-decoration: underline;
}

.ClearFix:after{
  display: table;
  content:'';
  width: 100%;
  clear: both;
}

.ClearFix h1{
  color: #fff;
  text-align: center;
}

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: white;
}

@media screen and (max-width: 768px){

    .MenuOptions{
      display: grid;
      grid-template-columns: auto;
      background: #0e0b2aeb;
      margin:0;
      width: 100%;
      position: absolute;
      top: 70px;
      left: -100%;
      bottom: 130%
      opacity: 0;
      transition: all 0.5s ease
    }

    .MenuOptions.active {
      background: black;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .nav-links {
      text-align: center;
      line-height: 60px;
      width: 110%;
      display: table;
    }


    .nav-links:hover{
      background-color: #15123a;
      color : white;
      transition: all 0.4s ease-out;
    }

    .navbar {
      width: 100%;
    }

    #mobile-menu {
        position: absolute;
        top: 1.7%;
        right: 5%;
        transform: translate(5%,1.6%);
    }

    .menu-toggle .bar{
      display: block;
      cursor: pointer;
    }

    .menu-toggle:hover{
      cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
      opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }

    .Minereuri li{
      padding: 0;
    }
}

.intro{
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider{
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text{
  color: rgb(233, 233, 233);
  font-family: inherit;
  font-size: 3rem;

}

.hide {
  background: black;
  overflow: hidden;
}

.hide span{
  transform: translateY(100%);
  display: inline-block;


}

.modal {
  display: none;
  position: fixed;
  z-index: 1; /*sta sus */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}


.modal-content {
  overflow-y: auto;
  background-color: rgb(233, 233, 233);
  margin: 5px auto 100px;
  border: 1px solid #888;
  width: 50%;
  padding: 20px;
}


.close {

  position: absolute;
  right: 25px;
  top: 0;
  color: rgb(233, 233, 233);
  font-size: 35px;
  font-weight: bold;
}


.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}


.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


.loginButton{
  float: right;
}
.LogContainer{
  padding-top: 15px;
}

.social_box img{
  max-width: 40px;
  max-height: 40px;
  padding: 6px;

}
.socialMedia_Container{
  text-align: center;
  padding: 10px;
}
.social_box{
  padding-top: 5px;
  margin: auto;
  display: block;
}

.social_box a{
  align-items: center;
}

.imgcontainer img{
  display: block;
  margin: auto;
  max-width: 100%;
  min-width: 30%;
}

.wrongLogin img{
  display: none;
  position: relative;
  max-width: 100%;
  min-width: 30%;
  margin: auto;
  z-index: 3;
}

.boxIn{
  padding: 5px;
}

.boxesIn{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  align-items: start;
  justify-content: space-around;
}

.forgot_password{
  padding-top: 3px;
}

.btn{
  width: 80px;
  height: 30px;
  font-size: 102%;

}

.btnn{
  width: 140px;
  height: 30px;
  font-size: 102%;
}

.MenuOptions button{
  color: #fff;
  font-weight: bold;
  display: block;
  font-size: 100%;
  background-color: inherit;
  font-family: inherit;
}

.MenuOptions button:hover{
  font-size: 105%;
  color: #f7e984;
}

.inputs input{
  min-width: 50%;
}

.mail img{
  max-width: 100px;
  max-height: 100px;

}

.mail button{
border: none;
background-color: transparent;
background-repeat: no-repeat;
cursor: pointer;
overflow: hidden;
position: fixed;
right: 0px; bottom: 5px;

}

.mail{
  margin-right: 50px;
}

.modal-content3{
  position: fixed;
  right: 20px;
  bottom: 100px;
  overflow-y: auto;
  background-color: rgb(233, 233, 233);

  border: 1px solid #888;
  width: 20%;
  padding: 20px;
}

.mailMessage{
  height: 200px;
  min-width: 100%;
}

#usercheck {
  margin: 0;
}

#passcheck, #usercheckRegister, #passcheckRegister, #conpasscheck {
  margin: 0;
}

.logged_in_div{
  display: none;
  position: absolute;
  margin: 0;
  background-color: rgba(166,183,215,0.7);
  align-content: center;

}
